<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <p id="nomanID"> I am Noman Hasan.</p>
    <button onclick="addStyle"> add style</button>
    <button onclick="removeStyle"> remove style</button>
    <script src="index.js"></script>
</body>
</html>



//////***Index.Js


function addStyle(){
  var myvar = document.querySelector("nomanID");
  myvar.classList.add(".nomanStyle");


}

function removeStyle(){
  var myvar = document.querySelector("nomanID");
  myvar.classList.remove(".nomanStyle");


}
      
//style.css
.nomanStyle{
    color: red;
    font-size: 3rem;
    font-weight: blood;
    font-style: italic;
}
      




